*{
  margin: 0;
  padding: 0;
  font-size: 15px;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(58,0,255,1) 93%); */
}
body{
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(58,0,255,1) 93%); */
    background-image: url(./Animated\ Shape.svg);
    /* background-color: #2555ff; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    color: #ffff;
    z-index: 1;
    /* height: 100; */
}
#app-container {
  background: none;
  /* background-color: #6b90b7; */
}

.navbar-brand{
  flex:2
}
#navbar-container{
  /* background-color: #ffff; */
}
#header{
  color: #dc3545;
}

/* .col-md-6{
  background: none;
}
.form-label{
  color: #ffff;
  background: none;
} */
body, html {
  height: 100%;
  margin: 0;
}

.form-inline{
  margin-right: 30px;
  flex:2;
  
}
.btn{
  border-radius: 20px;
  font-size: 10px;
  
}

.form-control
{
  margin-right: 10px;
  background-color:#365c85;
  font-size: 7px;
  border-radius: 20px;
}

.navbar-nav{
  border-radius: 25px;
  /* border: 2px solid #ccafaf; */
  background-color: #2f588b;
  
}
.nav-item{
  margin: 5px;
}
#content
{
  display: flex;

}
#content1
{
  width: 100%;
  /* background-color: #c5d0d0; */

}

#navbar-container {
  width: 80px;
  /* display: flex;
  justify-content: center; */
  /* background-color: #f8f9fa; */
  padding: 20px;
  /* box-shadow: 2px 1px 6px 0px rgba(0,0,0,0.1); */
}



/* .navbar-nav .nav-link i {
  color: #0d0e12;
  transition: color 0.3s; 
}

.navbar-nav .nav-link:hover i {
  color: #e2480b;
} */

.card{
  background-color: #4071b0;
}
.bestplayer{
  background-color: #4071b0;
}
.activity{
  height: 60%;
}
#content1{
  /* background-color: #255287; */
  /* border-radius: 30px; */
  /* z-index: 2; */
}
.navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #346096;
  box-shadow: 2px 1px 6px 0px #2555ff;
  
}

.navbar1 ul li{
  font-size: 40px;
  height: 100%;
} 

.navbar1 ul li a i{
  color: #ffff;
  font-size: 40px;
} 
.navbar1 ul li a i:hover{
  color: #324587;
  font-size:45px;
} 




.chat-box {
  height: 90vh;
  overflow-y: scroll;
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  color: white;
}

.list-unstyled li:hover {
background-color: #eae9e9;
color: #625b5b;
}

.media img {
  width: 50px;
  height: 50px;
}
.part2-media-body {
  /* background-color: #ff5e62; */
  margin-top: 15px;
}
.online-badge {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 10px;
}
.offline-badge {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
}
.message-left {
background-color: #e6f3ff;
color: black;
padding: 10px;
margin-bottom: 10px;
border-radius: 0px 15px 15px 15px;
max-width: 60%;
float: left;
clear: both;
}

.message-right {
background-color: #dcf8c6;
color: black;
padding: 10px;
margin-bottom: 10px;
border-radius: 15px 0px 15px 15px;
max-width: 60%;
float: right;
clear: both;
}